body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.App {
  text-align: center;
  background-color: #a4a4fff5;
  color: black;
  padding: 1rem;
}

.scanner {
  width: 20rem;
  height: auto;
}

.scan-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.5rem;
}

.info-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.control-panel {
  width: 42rem;
  margin: auto;
}

.inline-button {
  padding: 0.5rem 0;
}

#alert-dialog-slide-title h2 {
  display: flex;
  justify-content: space-between;
}