body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.App {
  text-align: center;
  background-color: #a4a4fff5;
  color: black;
  padding: 1rem;
}

.scanner {
  width: 20rem;
  height: auto;
}

.info-block {
  display: flex;
  justify-content: space-around;
}

.info-block div {
  padding: 0.5rem 0;
}
