body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: #6f77da;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #c7c7c7;
}

header {
  display: flex;
  justify-content: flex-end;
}

.App {
  text-align: center;
  background-color: #a4a4fff5;
  color: black;
  padding: 1rem;
}
